@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Add,Update,Delete and Search Movies</h5>
            <p class="card-text">CRUD Web App with Customazed Search and Filter and Authenticaiton by ASP.NET Coew Razor Pages</p>
            <a href="#" class="btn btn-primary">Explore!</a>
        </div>
        <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="~/css/Asset/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
         </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="~/css/Asset/2.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="~/css/Asset/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>
    </div>
    